.container {
    height: 162px;
    width: 721px;
    //position: relative;
    display: flex;
    margin-top: 230px;
    flex-direction: column;
    border-radius: 10px;
    background-color: #fff;
}
.horizontal-line {
    color: #dadada;
    width: 100%; /* Chiều rộng của thanh ngang */
    border: none; /* Loại bỏ viền */
    border-top: 1px solid #ccc; /* Định dạng cho thanh ngang */
    margin: 20px auto; /* Canh giữa theo chiều ngang */
}
.text-wrapper-header {
    font-family: 'Darker Grotesque', Helvetica;
    font-size: 28px;
    font-weight: 700;
    margin-left: 40px;
    margin-top: 10px;
    margin-bottom: -5px;
    color: #025b67;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-wrapper-body {
    font-family: 'Darker Grotesque', Helvetica;
    font-size: 24px;
    font-weight: 500;
    margin-left: 40px;
    color: #025b67;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.button-login {
    background-color: #0eb5c8;
    color: #fff;
    border-radius: 5px;
    height: 40px;
    width: 136px;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Darker Grotesque', Helvetica;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
