.NG-NHP {
    background-color: #f1f4f5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.NG-NHP .div-2 {
    background-color: #f1f4f5;
    position: relative;
    width: 1920px;
    height: 800px;
}

.NG-NHP .design-component-instance-node {
    width: 100% !important;
}

.NG-NHP .header-2 {
    background-color: #f2392980 !important;
}

.NG-NHP .text-wrapper-11 {
    color: #000000;
    font-family: 'Darker Grotesque-SemiBold', Helvetica;
    font-size: 16px;
    font-weight: 600;
    left: 575px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 229px;
    width: 774px;
}

.NG-NHP .text-wrapper-12 {
    color: #025b67;
    font-family: 'Be Vietnam Pro-Bold', Helvetica;
    font-size: 28px;
    font-weight: 700;
    left: 800px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: right;
    top: 177px;
    white-space: nowrap;
}

.NG-NHP .group-3 {
    height: 483px;
    left: 385px;
    position: absolute;
    top: 276px;
    width: 1149px;
}

.NG-NHP .group-4 {
    height: 483px;
    left: 685px;
    position: absolute;
    top: 0;
    width: 470px;
}

.NG-NHP .overlap-group-wrapper {
    height: 61px;
    left: 0;
    position: absolute;
    top: 152px;
    width: 466px;
}

.NG-NHP .div-wrapper {
    background-color: #0eb5c8;
    border-radius: 10px;
    height: 47px;
    position: relative;
    width: 450px;
}

.NG-NHP .text-wrapper-13 {
    color: #f1f4f5;
    font-family: 'Darker Grotesque-Black', Helvetica;
    font-size: 16px;
    font-weight: 900;
    left: 160px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 11px;
    white-space: nowrap;
    width: 144px;
}

.NG-NHP .overlap-wrapper {
    height: 47px;
    left: 0;
    position: absolute;
    top: 0;
    width: 450px;
}

.NG-NHP .overlap {
    background-color: #ffffff;
    border: 2px solid;
    border-color: #0eb5c8;
    border-radius: 6px;
    height: 50.5px;
    position: relative;
    width: 450px;
}

.NG-NHP .text-wrapper-14 {
    color: #808080;
    font-family: 'Darker Grotesque-Light', Helvetica;
    font-size: 16px;
    font-weight: 300;
    left: 23px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 15px;
    white-space: nowrap;
    width: 240px;
}

.NG-NHP .group-5 {
    height: 47px;
    left: 0;
    position: absolute;
    top: 62px;
    width: 450px;
}

.NG-NHP .text-wrapper-15 {
    color: #808080;
    font-family: 'Darker Grotesque-Light', Helvetica;
    font-size: 16px;
    font-weight: 300;
    left: 24px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 14px;
    white-space: nowrap;
    width: 91px;
}

.NG-NHP .text-wrapper-16 {
    color: #025b67;
    font-family: 'Darker Grotesque-SemiBold', Helvetica;
    font-size: 12px;
    font-weight: 600;
    left: 218px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: right;
    top: 125px;
    white-space: nowrap;
    width: 228px;
}

.NG-NHP .text-wrapper-17 {
    color: #440c11;
    font-family: 'Darker Grotesque-Bold', Helvetica;
    font-size: 12px;
    font-weight: 700;
    left: 122px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 209px;
    white-space: nowrap;
    width: 221px;
}

.NG-NHP .text-wrapper-18 {
    color: #025b67;
    font-family: 'Darker Grotesque-Bold', Helvetica;
    font-size: 12px;
    font-weight: 700;
    left: 161px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 370px;
    white-space: nowrap;
    width: 141px;
}

.NG-NHP .group-6 {
    height: 14px;
    left: 39px;
    position: absolute;
    top: 310px;
    width: 389px;
}

.NG-NHP .text-wrapper-19 {
    color: #ff3d00;
    font-family: 'Darker Grotesque-Black', Helvetica;
    font-size: 16px;
    font-weight: 700;
    left: 225px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    white-space: nowrap;
    width: 163px;
    text-decoration: none;
    cursor: pointer;
}

.NG-NHP .text-wrapper-20 {
    color: #025b67;
    font-family: 'Darker Grotesque-Bold', Helvetica;
    font-size: 16px;
    font-weight: 700;
    left: -2px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: right;
    top: 0;
    white-space: nowrap;
    width: 216px;
}

.NG-NHP .group-7 {
    height: 50px;
    left: 66px;
    position: absolute;
    top: 235px;
    width: 333px;
}

.NG-NHP .group-8 {
    height: 50px;
    left: 192px;
    position: absolute;
    top: 0;
    width: 143px;
}

.NG-NHP .overlap-group-2 {
    border: 2px solid;
    border-color: #025b67;
    border-radius: 10px;
    height: 50px;
    position: relative;
    width: 141px;
}

.NG-NHP .text-wrapper-21 {
    color: #025b67;
    font-family: 'Darker Grotesque-Bold', Helvetica;
    font-size: 12px;
    font-weight: 700;
    left: 49px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 18px;
    white-space: nowrap;
    width: 76px;
}

.NG-NHP .group-9 {
    height: 25px;
    left: 12px;
    position: absolute;
    top: 10px;
    width: 25px;
}

.NG-NHP .group-10 {
    height: 50px;
    left: 0;
    position: absolute;
    top: 0;
    width: 143px;
}

.NG-NHP .text-wrapper-22 {
    color: #025b67;
    font-family: 'Darker Grotesque-Bold', Helvetica;
    font-size: 12px;
    font-weight: 700;
    left: 56px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 18px;
    white-space: nowrap;
    width: 54px;
}

.NG-NHP .vector-3 {
    height: 25px;
    left: 17px;
    position: absolute;
    top: 10px;
    width: 25px;
}

.NG-NHP .group-11 {
    height: 299px;
    left: 0;
    position: absolute;
    top: 10px;
    width: 547px;
}

.NG-NHP .logo-SOS-ver-mau {
    height: 256px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 545px;
}

.NG-NHP .text-wrapper-23 {
    color: #000000;
    font-family: 'Darker Grotesque-Bold', Helvetica;
    font-size: 20px;
    font-weight: 700;
    left: 45px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 265px;
    white-space: nowrap;
    width: 456px;
}
