.container {
    height: 570px;
    width: 721px;
    //position: relative;
    display: flex;
    margin-top: 230px;
    flex-direction: column;
    border-radius: 10px;
    background-color: #fff;
}
.horizontal-line {
    color: #dadada;
    width: 100%; /* Chiều rộng của thanh ngang */
    border: none; /* Loại bỏ viền */
    border-top: 1px solid #ccc; /* Định dạng cho thanh ngang */
    margin: 20px auto; /* Canh giữa theo chiều ngang */
}
.text-wrapper-header {
    font-family: 'Darker Grotesque', Helvetica;
    font-size: 28px;
    font-weight: 700;
    margin-left: 40px;
    margin-top: 10px;
    margin-bottom: -5px;
    color: #025b67;
}

.text-wrapper-body {
    font-family: 'Darker Grotesque', Helvetica;
    font-size: 24px;
    font-weight: 500;
    margin-left: 40px;
    color: #025b67;
}

.text-input-email {
    height: 47.66px;
    width: 479.93px;
    border-radius: 10px;
    margin-left: 40px;
    margin-top: 30px;
    border: 1px solid #dadada;
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.text-input-email > div {
    font-family: 'Darker Grotesque', Helvetica;
    font-size: 20px;
    color: #808080;
}
.buttons-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
    margin-right: 55px;
}
.button-cancel {
    background-color: #808080;
    color: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 70px;
    font-size: 20px;
    font-family: 'Darker Grotesque', Helvetica;
    margin-right: 20px;
}
.button-search {
    background-color: #0eb5c8;
    color: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 136px;
    font-size: 20px;
    font-family: 'Darker Grotesque', Helvetica;
}
