.NG-k {
    background-color: #f1f4f5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.NG-k .div-2 {
    background-color: #f1f4f5;
    height: 800px;
    position: relative;
    width: 1920px;
}

.NG-k .design-component-instance-node {
    width: 1920px !important;
}

.NG-k .header-2 {
    background-color: #f2392980 !important;
}

.NG-k .text-wrapper-11 {
    color: #000000;
    font-family: 'Darker Grotesque-SemiBold', Helvetica;
    font-size: 16px;
    font-weight: 600;
    left: 576px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 215px;
    width: 774px;
}

.NG-k .text-wrapper-12 {
    color: #440c11;
    font-family: 'Be Vietnam Pro-Bold', Helvetica;
    font-size: 28px;
    font-weight: 700;
    left: 820px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: right;
    top: 173px;
    white-space: nowrap;
}

.NG-k .group-3 {
    height: 494px;
    left: 417px;
    position: absolute;
    top: 255px;
    width: 1086px;
}

.NG-k .group-4 {
    height: 494px;
    left: 687px;
    position: absolute;
    top: 0;
    width: 405px;
}

.NG-k .overlap-group-wrapper {
    height: 50px;
    left: 0;
    position: absolute;
    top: 370px;
    width: 401px;
}

.NG-k .div-wrapper {
    background-color: #0eb5c8;
    border-radius: 10px;
    height: 50px;
    position: relative;
    width: 399px;
}

.NG-k .text-wrapper-13 {
    color: #f1f4f5;
    font-family: 'Darker Grotesque-Black', Helvetica;
    font-size: 16px;
    font-weight: 900;
    left: 138px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 15px;
    white-space: nowrap;
    width: 124px;
}

.NG-k .group-5 {
    height: 50px;
    left: 1px;
    position: absolute;
    top: 110px;
    width: 397px;
}

.NG-k .group-6 {
    height: 50px;
    left: 0;
    position: absolute;
    top: 0;
    width: 244px;
}

.NG-k .overlap-group-2 {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #0eb5c8;
    border-radius: 10px;
    height: 50px;
    position: relative;
    width: 242px;
}

.NG-k .text-wrapper-14 {
    color: #808080;
    font-family: 'Darker Grotesque-Light', Helvetica;
    font-size: 12px;
    font-weight: 300;
    left: 19px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 19px;
    white-space: nowrap;
    width: 206px;
}

.NG-k .overlap-wrapper {
    height: 50px;
    left: 254px;
    position: absolute;
    top: 0;
    width: 145px;
}

.NG-k .overlap {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #0eb5c8;
    border-radius: 10px;
    height: 50px;
    position: relative;
    width: 143px;
}

.NG-k .text-wrapper-15 {
    color: #808080;
    font-family: 'Darker Grotesque-Light', Helvetica;
    font-size: 12px;
    font-weight: 300;
    left: 11px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 19px;
    white-space: nowrap;
    width: 122px;
}

.NG-k .group-7 {
    height: 50px;
    left: 0;
    position: absolute;
    top: 173px;
    width: 401px;
}

.NG-k .overlap-2 {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #0eb5c8;
    border-radius: 10px;
    height: 50px;
    position: relative;
    width: 399px;
}

.NG-k .text-wrapper-16 {
    color: #808080;
    font-family: 'Darker Grotesque-Light', Helvetica;
    font-size: 12px;
    font-weight: 300;
    left: 21px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 18px;
    white-space: nowrap;
    width: 364px;
}

.NG-k .group-8 {
    height: 50px;
    left: 0;
    position: absolute;
    top: 237px;
    width: 401px;
}

.NG-k .text-wrapper-17 {
    color: #808080;
    font-family: 'Darker Grotesque-Light', Helvetica;
    font-size: 12px;
    font-weight: 300;
    left: 21px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 18px;
    white-space: nowrap;
    width: 233px;
}

.NG-k .group-9 {
    height: 50px;
    left: 0;
    position: absolute;
    top: 302px;
    width: 401px;
}

.NG-k .text-wrapper-18 {
    color: #f23929;
    font-family: 'Darker Grotesque-Bold', Helvetica;
    font-size: 12px;
    font-weight: 700;
    left: 121px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: right;
    top: 0;
    white-space: nowrap;
}

.NG-k .text-wrapper-19 {
    color: #440c11;
    font-family: 'Darker Grotesque-Bold', Helvetica;
    font-size: 12px;
    font-weight: 700;
    left: 179px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: right;
    top: 83px;
    white-space: nowrap;
}

.NG-k .text-wrapper-20 {
    color: #025b67;
    font-family: 'Darker Grotesque-Bold', Helvetica;
    font-size: 16px;
    font-weight: 700;
    left: 160px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: right;
    top: 440px;
    white-space: nowrap;
    text-decoration: none;
    cursor: pointer;
}

.NG-k .group-10 {
    height: 50px;
    left: 33px;
    position: absolute;
    top: 32px;
    width: 330px;
}

.NG-k .group-11 {
    height: 50px;
    left: 190px;
    position: absolute;
    top: -5px;
    width: 142px;
}

.NG-k .overlap-group-3 {
    border: 2px solid;
    border-color: #025b67;
    border-radius: 10px;
    height: 50px;
    position: relative;
    width: 140px;
}

.NG-k .text-wrapper-21 {
    color: #025b67;
    font-family: 'Darker Grotesque-Bold', Helvetica;
    font-size: 12px;
    font-weight: 700;
    left: 49px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 18px;
    white-space: nowrap;
}

.NG-k .group-12 {
    height: 25px;
    left: 12px;
    position: absolute;
    top: 10px;
    width: 25px;
}

.NG-k .group-13 {
    height: 50px;
    left: 0;
    position: absolute;
    top: -5px;
    width: 142px;
}

.NG-k .text-wrapper-22 {
    color: #025b67;
    font-family: 'Darker Grotesque-Bold', Helvetica;
    font-size: 12px;
    font-weight: 700;
    left: 56px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 18px;
    white-space: nowrap;
}

.NG-k .vector-3 {
    height: 25px;
    left: 17px;
    position: absolute;
    top: 10px;
    width: 25px;
}

.NG-k .group-wrapper {
    height: 299px;
    left: 0;
    position: absolute;
    top: 98px;
    width: 549px;
}

.NG-k .group-14 {
    height: 299px;
    position: relative;
    width: 551px;
}

.NG-k .logo-SOS-ver-mau {
    height: 256px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 549px;
}

.NG-k .text-wrapper-23 {
    color: #000000;
    font-family: 'Darker Grotesque-Bold', Helvetica;
    font-size: 20px;
    font-weight: 700;
    left: 45px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 265px;
    white-space: nowrap;
    width: 460px;
}
