.resBody {
    margin: 137px 0;
    > .title {
        color: #440c11;
        text-align: center;
        font-family: 'Be Vietnam Pro';
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    > .subtitle {
        color: #000;
        text-align: center;
        font-family: 'Darker Grotesque';
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    > .boxContent {
        width: 100%;
        margin-top: 50px;
        display: flex;
        align-items: center;
        padding: 0;
        gap: 130px;

        > .rightSide {
            display: flex;
            flex-direction: column;
            width: 50%;
            gap: 23px;
            > .btnSubmit {
                border-radius: 10px;
                background: #0eb5c8;
                border: none;
                padding: 18px;
                color: #f1f4f5;
                text-align: center;
                font-family: 'Darker Grotesque';
                font-size: 24px;
                font-style: normal;
                font-weight: 900;
                line-height: normal;
            }
            > .loginBtn {
                color: #025b67;
                text-align: center;

                font-family: 'Darker Grotesque';
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
            > .label {
                color: #f23929;
                text-align: center;

                font-family: 'Darker Grotesque';
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
        }
        > .leftSide {
            width: 50%;
            display: flex;
            flex-direction: column;
        }
    }
}

.inputCustom {
    border-radius: 10px;
    border: 1px solid #0eb5c8;
    padding: 13px;
    background: #fff;
    color: #808080;
    font-family: 'Darker Grotesque';
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
