.infoBlock {
    margin: 40px 0;
    margin-top: 70px;
    display: flex;
    border-radius: 40px;
    background: #0eb5c8;
    padding: 30px 43px;

    > .leftSide,
    > .rightSide {
        display: flex;
        width: 50%;
        padding: 0 72px;
        align-items: center;

        .notification,
        .settings {
            display: flex;
            gap: 10px;
            color: #fff;
            font-family: 'Darker Grotesque';
            font-size: 26px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;

            cursor: pointer;
            &:hover {
                filter: brightness(0.8);
            }
        }

        .btn-logout {
            &:last-child {
                cursor: pointer;
                img {
                    filter: brightness(0) invert(1);
                }
                &:hover {
                    filter: brightness(0.8);
                }
            }
        }
    }

    > .leftSide {
        gap: 50px;

        > .blockAvt {
            width: 200px;
            height: 150px;
            overflow: hidden;
            clip-path: circle(50%);
        }
        > .blockAvt img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        > .blockName {
            > .name {
                color: #fff;
                font-family: 'Darker Grotesque';
                font-size: 52px;
                font-style: normal;
                font-weight: 800;
                line-height: normal;
            }
            > .desc {
                color: #fff;
                font-family: 'Darker Grotesque';
                font-size: 24px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }
        }
    }

    > .rightSide {
        justify-content: space-evenly;

        > div {
            display: flex;
            gap: 10px;
            color: #fff;
            font-family: 'Darker Grotesque';
            font-size: 26px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    }
}

.overviewBlock {
    width: 100%;
    display: flex;
    gap: 50px;
    > .leftSide,
    > .rightSide {
        width: 50%;
    }

    > .leftSide {
        > .statusBlock {
            display: flex;
            gap: 30px;

            > .status {
                min-width: 263.351px;
                padding: 23px 38px;
                border-radius: 10px;
                border: 1px solid #000;
                background: #fff;
                color: #025b67;
                > div {
                    margin-top: 23px;
                    display: flex;
                    gap: 8px;
                }
                > .title {
                    font-family: 'Darker Grotesque';
                    font-size: 28px;
                    font-style: normal;
                    font-weight: 800;
                }
            }
            > .status.red {
                color: #fff;

                background: #440c11;
            }
        }
        > .learningCourse {
            > .container-updatepremium {
                display: grid;
                > img {
                    width: 70%;
                    margin-left: 15%;
                }
                > .updatePremium {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-top: 20px;
                    padding: 10px 0;
                    width: 95.6%;
                    border: 1px solid #ddd;
                    border-radius: 10px;
                    background-color: #f9d100;
                    > div {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        > p {
                            margin-left: 8px;
                            font-size: 20px;
                            color: #ffffff;
                            font-weight: bold;
                        }
                    }
                }
            }
            > .title {
                color: #025b67;
                font-family: 'Darker Grotesque';
                font-size: 32px;
                font-style: normal;
                font-weight: 800;
                line-height: normal;
                padding: 33px 0;
            }

            .courses {
                display: grid;
                grid-template-columns: 1fr 1fr;
                .course {
                    img {
                        width: 90%;
                        left: 10px;
                    }
                }
            }
        }
    }

    > .rightSide {
        > .container-right-updatepremium {
            display: grid;
            justify-items: center; /* This will center the content horizontally */
            justify-content: center; /* This will center the content horizontally */
            align-items: center; /* This will center the content vertically */
            > .only10K {
                text-align: center;
                font-size: 22px;
                width: 520px;
                font-weight: bold;
                font-style: italic;
                justify-content: center; /* This will center the content horizontally */
            }
            > img {
                margin-top: 7%;
                width: 80%;
            }
        }
    }
}
.loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

/* Transparent Overlay */
.loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
    /* hide "loading..." text */
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.loading:not(:required):after {
    content: '';
    display: block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    -webkit-animation: spinner 150ms infinite linear;
    -moz-animation: spinner 150ms infinite linear;
    -ms-animation: spinner 150ms infinite linear;
    -o-animation: spinner 150ms infinite linear;
    animation: spinner 150ms infinite linear;
    border-radius: 0.5em;
    -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0,
        rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0,
        rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
    box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0,
        rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0,
        rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-moz-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-o-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
