// .rectangle-title {
//     background-color: #f23929;
//     border-radius: 14px;
//     height: 28px;
//     left: 162px;
//     position: fixed;
//     top: 165px;
//     width: 271px;
//     flex-direction: column;
// }
// .category-item {
//     margin-bottom: 20px; /* Để tạo khoảng cách giữa các danh mục */
// }

// .text-wrapper-title {
//     color: #f1f4f5;
//     font-family: 'Darker Grotesque', Helvetica;
//     font-size: 24px;
//     font-weight: 900;
//     left: 50%;
//     letter-spacing: 0;
//     line-height: normal;
//     position: absolute;
//     top: 40%;
//     white-space: nowrap;
//     transform: translate(-50%, -50%);
// }

// .container {
//     position: relative;
//     width: 311px;
//     height: 232px;
// }
// .image-so-cuu,
// .image-layout-color {
//     position: absolute;
//     width: 100%;
//     height: 100%;
//     transform: translate(-50%, -50%);
//     top: 340px;
//     left: -273px;
//     border-top-right-radius: 34px;
// }

// .image-layout-color {
//     z-index: 1; // Tầng trên cùng
// }
// .image-so-cuu {
//     z-index: 0; // Tầng phía sau
//     filter: blur(0px); // Làm mờ
// }
.categories-container {
    display: flex;
    flex-direction: column;
    margin-top: 150px;
}

.category {
    margin-bottom: 20px;
}

.category-name {
    background-color: #f23929;
    color: #fff;
    font-size: 24px;
    font-weight: 900;
    border-radius: 14px;
    height: 28px;
    width: 271px;
    left: 0;
    top: 70px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Darker Grotesque', Helvetica;
}

.course-list {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    height: 300px;
    width: 150%;
    margin-bottom: -70px;
    list-style-type: none;
}

.course-item-button {
    border: none;
    margin-right: 2.5%;
    height: 220px;
    width: 271px;
    //position: relative;
    display: block;
    align-items: center;
    justify-content: center;
    font-family: 'Darker Grotesque', Helvetica;
    border-top-right-radius: 15px; /* Example value - Adjust as needed */
}

.course-item {
    position: relative;
    margin-right: 20px;
    height: 100%;
    width: 300px;
    border-top-right-radius: 30px; /* Example value - Adjust as needed */
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional for subtle shadow */
}

.course-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Slightly stronger shadow on hover*/
}

.course-image {
    width: 100%;
    height: auto;
}

.course-image img {
    width: 110%;
}

.course-name {
    padding: 0px 10px 20px 0px;
    height: 100%;
    width: 100%;
    top: 0%;
    font-size: 24px;
    opacity: 0.7;
    background-image: linear-gradient(to bottom right, #0eb5c854 0%, #fe7651 100%);
    color: #fff;
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.course-name p {
    margin: 0;
    text-align: right;
    height: 50px;
    padding-bottom: 70px;
    font-size: 24px;
    font-weight: 900;
    font-family: 'Darker Grotesque', Helvetica;
}

/* Optional hover effect for course-name*/
.course-item:hover .course-name {
    opacity: 1; /* Slightly more opaque on hover */
}
